#
# COMP90024 Cluster and Cloud Computing Assignment2 - Team 42 
# 
# Authors: 
#
#  - Haoyu Gao (Student ID: 1141213)
#  - Runqi Zhao (Student ID: 1159719)
#  - Shukai Liu (Student ID: 1233459)
#  - Siyu Liu (Student IDï¼š1094521)
#  - Wenjun Wang (Student ID: 1249890)
#
# Location: Melbourne
#
---
# Install some needed dependencies
- name: Install needed dependencies
  tags: 'volumes'
  become: yes
  ansible.builtin.apt:
    name: ['xfsprogs']
    state: latest
    install_recommends: no
    update_cache: yes
  environment: "{{ proxy_env }}"

# Make relevant file system
- name: Make relevant file system
  tags: 'volumes'
  become: yes
  community.general.filesystem:
    fstype: xfs
    dev: "{{ item.device }}"
  when: item.device is defined
  with_items:
    - "{{ volumes }}"

# Check relevant folders status
- name: Check relevant folders status
  tags: 'volumes'
  become: yes
  ansible.builtin.stat:
    path: "{{ item.mountpoint }}"
  register: directory_stats
  with_items:
    - "{{ volumes }}"

# Create needed directory
- name: Create needed directory
  tags: 'volumes'
  become: yes
  ansible.builtin.file:
    path: "{{ item.item.mountpoint }}"
    recurse: yes
    state: directory
  when: item.stat.exists == false
  with_items:
    - "{{ directory_stats.results }}"

# Configure mount points and relevant device
- name: Configure mount points and relevant device
  tags: 'volumes'
  become: yes
  ansible.posix.mount:
    path: "{{ item.mountpoint }}"
    src: "{{ item.device }}"
    fstype: xfs
    state: mounted
  when: item.device is defined
  with_items:
    - "{{ volumes }}"